<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product_form" action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="title" class="title">Title</label>
                <input type="text" name="title" id="title" value="<% if(editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageURL" class="imageURL">Image</label>
                <input type="text" name="imageURL" id="imageURL" value="<% if(editing) { %><%= product.imageURL %><% } %>">
            </div>
            <div class="form-control">
                <label for="price" class="price">Price</label>
                <input type="text" name="price" id="price" step="0.01" value="<% if(editing) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description" class="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if(editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>


            <button class="btn" type="submit"><% if(editing) { %>Save Product<% } else { %> Add Product <% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>