<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product_form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title" class="title">Title</label>
                <input type="text" name="title" id="title">
            </div>

            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %></body>