<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="center">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img src="<%= product.imageURL %>" alt="<% product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <div class="card__actions">
            <%- include('../includes/add-to-cart.ejs') %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>